$backgrImg: "../img/m-h-night.jpg";

$fontFamily: 'Source Sans Pro', sans-serif;
$altFontFamily: 'Fresca', sans-serif;

$contentBackground: #21232E;
$hFontsColor: #fff;
$markerColor: #FF4E33;
$buttonColor: #E3AC00;
$sectionColor: #3B3F50;
$welcomeColor: #fff;

$gradientColors: (
    gradient1: #D99C0A,
    gradient2: #953150,
);