$backgrImg: "../img/m-h-day.jpg";

$fontFamily: 'Source Sans Pro', sans-serif;
$altFontFamily: 'Hind', sans-serif;

$contentBackground: #fff;
$hFontsColor: #2C2F3C;
$markerColor: #14A0C7;
$buttonColor: #699900;
$sectionColor: #21232E;
$welcomeColor: #2C2F3C;

$gradientColors: (
    gradient1: #679707,
    gradient2: #2F5DD0,
);